CLOUDBOARD_ACCESS_TOKEN=
CLOUDBOARD_DATABASE_PATH=./data/cloudboard.db
CLOUDBOARD_ENVIRONMENTS_BOOTSTRAP_FILE=./config/environments.json
CLOUDBOARD_CREDENTIALS_DIR=./credentials
CLOUDBOARD_DYNAMIC_CREDENTIALS_DIR=
DEPLOYMENT_VERSION=local

AWS_DEV_ACCESS_KEY_ID=
AWS_DEV_SECRET_ACCESS_KEY=
AWS_DEV_SESSION_TOKEN=
CLOUDBOARD_COST_ANOMALY_RELATIVE_PERCENTAGE=20
CLOUDBOARD_COST_ANOMALY_ABSOLUTE_USD=100
CLOUDBOARD_DAILY_REPORT_RUN_ON_START=true

AWS_PRD_ACCESS_KEY_ID=
AWS_PRD_SECRET_ACCESS_KEY=
AWS_PRD_SESSION_TOKEN=
