AWS_DEV_ACCESS_KEY_ID=
AWS_DEV_SECRET_ACCESS_KEY=
AWS_DEV_SESSION_TOKEN=
AWS_DEV_REGIONS=ap-northeast-2

AWS_PRD_ACCESS_KEY_ID=
AWS_PRD_SECRET_ACCESS_KEY=
AWS_PRD_SESSION_TOKEN=
AWS_PRD_REGIONS=ap-northeast-2

CLOUDBOARD_ACCESS_TOKEN=
